@use 'fonts';
@use 'colors';


/*DESKTOP:: LARGE 751PX+*/
@media screen and (min-width: 751px) {
    .choose{

        background-image: url(../images/chooseus.png);
        background-size: cover;
        height: 685px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__content{
            margin: 0 auto;
            max-width: 560px;
            width: 100%;
            button{
                width: 228px;
                background-image: url(../images/duo.png);
                background-size: cover;
            }
            button:hover{
                background-color: colors.$light;
                background-image: none;
                color: colors.$main;
            }
        }
        &__images{

            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: flex-start;
            .btmimg{
                align-self: flex-end;
            }
        }
    }
}/*END OF DESKTOP:: LARGE 751PX+ */

/*TABLET:: 768PX */
@media screen and (max-width: 750px) {

    .choose{
        padding: 20px;
        background-image: url(../images/chooseus.png);
        background-size: cover;
        &__content{
            display: flex;
            flex-direction: column;
            align-items: center;
            button{
                width: 228px;
                background-image: url(../images/duo.png);
                background-size: cover;
                margin-bottom: 20px;
            }
            button:hover{
                background-color: colors.$light;
                background-image: none;
                color: colors.$main;
            }
            
        }
        &__images{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                max-width: 400px;
                width: 100%;
            }
            
        }
    }

}/*END OF TABLET:: MD 750PX */

/*PHONE:: 320PX */


/*END OF TABLET:: SM 320PX */