main{
    width: 100%;
}


/*DESKTOP:: LARGE 751PX+ */
@media screen and (min-width: 751px) {

    .splash{
 
        height: 100vh;
        background-image: url(../images/splash.png);
        background-size: cover;
        overflow-x: hidden;
        overflow-y: auto;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin: 0 auto;
            max-width: 700px;
            width: 100%;
            height: 500px;
            h4{
                margin-top: -20px;
            }

        }
        &__form{
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            max-width: 650px;
            width: 100%;
            height: 60px;
            border: 3px solid colors.$light;
            background-color: colors.$light;
            input{
                color: colors.$dark;
                width: 500px;
                border: none;
                text-align: center;
                font-size: 14px;
                font-family: fonts.$josefin;
                line-height: 26px;
                letter-spacing: 2.8px;
                font-weight: 400;
            }
        }

        &__scroll{
            height: 200px;
            text-align: center;
            font-size: 14px;
            font-family: fonts.$josefin;
            line-height: 26px;
            letter-spacing: 2.8px;
            font-weight: 400;

        }
    }
}/*END OF DESKTOP:: LARGE 751PX+ */

/*TABLET:: 750PX */
@media screen and (max-width: 750px) {

    .splash{
        width: 100vw;
        height: 100vh;
        background-image: url(../images/splash.png);
        background-size: cover;
        &__title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin: 0 auto;
            height: 500px;

        }
        &__form{
            width: 80%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            border: 3px solid colors.$light;
            background-color: colors.$light;
            input{
                color: colors.$dark;
                border: none;
                text-align: center;
                font-size: 14px;
                font-family: fonts.$josefin;
                line-height: 26px;
                letter-spacing: 2.8px;
                font-weight: 400;
            }
        }

        &__scroll{
            text-align: center;
            font-size: 14px;
            font-family: fonts.$josefin;
            line-height: 26px;
            letter-spacing: 2.8px;
            font-weight: 400;
            height: 200px;

        }
    }

}/*END OF TABLET:: MD 750PX */

/*PHONE:: 320PX */
@media screen and (max-width: 320px) {

    .splash{
        width: 100vw;
        height: 100vh;
        background-image: url(../images/splash.png);
        background-size: cover;

        &__title{
            margin: 0 auto;
            width: 90%;
        
        }
        &__form{
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            border: 3px solid colors.$light;
            background-color: colors.$light;
            input{
                color: colors.$dark;
                border: none;
                text-align: center;
                font-size: 12px;
                font-family: fonts.$josefin;
                line-height: 26px;
                letter-spacing: 2.8px;
                font-weight: 400;
            }
            button{
                width: 100%;
            }
    }

    &__scroll{
        text-align: center;
        font-size: 14px;
        font-family: fonts.$josefin;
        line-height: 26px;
        letter-spacing: 2.8px;
        font-weight: 400;

    }
      
    }

}/*END OF TABLET:: SM 320PX */

.floating{
    animation: float 2s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}