@use 'fonts';
@use 'colors';
html {
    scroll-behavior: smooth;
  }

*{
    color: colors.$light;


    
}
body{
    background-color: colors.$main;


}
p{
    font-family: fonts.$josefin;
    font-size: 16px;
    letter-spacing: 1.6px;
    line-height: 26px;
    font-weight: 400;
}
a{
    text-decoration: none;

}
a:hover{
    text-decoration: overline;

}


/*DESKTOP:: LARGE 751PX+ */
@media screen and (min-width: 751px){
h1{
    font-family: fonts.$josefin;
    text-align: center;
    font-size: 48px;
    line-height: 26px;
    letter-spacing: 4.8px;
    font-weight: 700;
}
h3{
    font-family: fonts.$josefin;
    text-align: center;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;

}
h2{
    font-family: fonts.$aleo;
    font-size: 36px;
    line-height: 26px;
    font-weight: 400;
}
h4{
    font-family: fonts.$josefin;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 6.82px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 40px;
}
    
}/*END OF DESKTOP:: LARGE 751PX+ */

/*TABLET:: MED 750PX */
@media screen and (max-width: 750px){
    h1{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 40px;
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
    }
    h3{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
    
    }
    h4{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 6.82px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
    
}/*END OF TABLET:: MED 750PX */

/*PHONE:: SM 320PX */
@media screen and (max-width: 320px){

    h1{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 30px;
        line-height: 26px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
    }
    h3{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 2.4px;
        text-transform: uppercase;
        margin: 0;
        font-weight: 700;
    
    }
    h4{
        font-family: fonts.$josefin;
        text-align: center;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 6.82px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 40px;
    }
    
}/*END OF PHONE:: SM 320PX */


.btn{
    background-color: colors.$main;
    height: 60px;
    padding: 20px;
    font-family: fonts.$aleo;
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
}
.btn:hover{
    background-color: colors.$light;
    color: colors.$main;
}

/*CSS BY SECTION*/
@import 'splash';
@import 'chooseus';
@import 'icons';
@import 'bookit';
@import 'bookit2';
@import 'review';